<% latest_deployment = @deployments.first %>
<% latest_ping = @latest_ping %>
<% behind_count = @project.commits_behind.to_i %>

<section class="w-full space-y-6">
  <%= render "projects/show/breadcrumbs", project: @project %>

  <div class="grid grid-cols-1 gap-6 lg:grid-cols-[13rem_minmax(0,1fr)]">
    <%= render "projects/show/sidebar", project: @project %>

    <div class="min-w-0 space-y-6">
      <div id="overview" class="space-y-6">
        <%= render "projects/show/overview_header",
        project: @project,
        latest_deployment: latest_deployment,
        latest_ping: latest_ping,
        running_deployment: @running_deployment,
        behind_count: behind_count %>

        <%= render "projects/show/overview_panels",
        project: @project,
        latest_ping: latest_ping,
        running_deployment: @running_deployment,
        behind_count: behind_count,
        grafana_embed_url: @grafana_embed_url %>

        <% if @project.app? %>
          <%= render "projects/show/github_commits",
          project: @project,
          github_commits: @github_commits %>

          <%= render "projects/show/github_pull_requests",
          project: @project,
          github_pull_requests: @github_pull_requests %>

          <%= render "projects/show/deployment_command", project: @project %>
        <% end %>

        <%= render "projects/show/cron_jobs", project: @project, cron_jobs: @cron_jobs %>

        <div class="grid grid-cols-1 gap-6 xl:grid-cols-2">
          <% if @project.app? %>
            <%= render "projects/show/deployments", project: @project, deployments: @deployments %>
          <% end %>

          <%= render "projects/show/healthcheck",
          project: @project,
          deployments: @deployments,
          latest_ping: latest_ping %>
        </div>
      </div>
    </div>
  </div>
</section>
